/*variabler, grund för hela webbplatsen, typsnitt, mixins*/

$primary-color: #F5F5F5;
$font-color:#4B164C;
$primary-color-dm:#4B164C;
$font-color-dm: #F5F5F5;
$header-color: #DD88CF;
$detail-color: #F8E7F6;

$font-style: Georgia serif;

@mixin lightOrDark($light-theme: true) {
    @if $light-theme {
      background-color: $primary-color;
      color: $font-color;
    } @else {
      background-color: $primary-color-dm;
      color: $font-color-dm;
    }
  }

  body {
    @include lightOrDark($light-theme: true);
    body.dark & {
      @include lightOrDark($light-theme: false);
    }
  }

body {
    font-family:$font-style;
    font-size:1.2em;
    margin: 0 auto;
    overflow-x: hidden;
}
header, footer {
    background-color:$header-color;
    padding: 1%;
    border:#4B164C ridge;
}

h1, h2 {
    margin: 1%;
}

p {
    @extend h1;
    line-height: 1.5em;
    max-width: 70ch;
}
