/*variabler, grund för hela webbplatsen, typsnitt, mixins*/


$primary-color: #F5F5F5;
$font-color:#4B164C;
$primary-color-dm: lighten($font-color, 10%);
$font-color-dm: darken($primary-color, 20%);
$header-color: #DD88CF;
$detail-color: #F8E7F6;

$font-style: Georgia serif;

@mixin textColor($value) {
    @if $value == light {
        color: $font-color-dm;
    }
    @else if $value == dark {
        color: $font-color}
}

@keyframes colorChange {
    0% {
        background-color: $detail-color;
    }
    10% {
        background-color: darken($detail-color, 10%);
    }
    20% {
        background-color: darken($detail-color, 20%);
    }
    30% {
        background-color: lighten($header-color, 10%);
    }
    40% {
        background-color: lighten($header-color, 5%);
    }
    50% {
        background-color: $header-color;
    }
    60% {
        background-color: darken($header-color, 10%);
    }
    70% {
        background-color: darken($header-color, 20%);
    }
    80% {
        background-color: darken($header-color, 30%);
    }
    90% {
        background-color: darken($header-color, 40%);
    }
    100% {
        background-color: #56124b;
    }
}

body {
    background-color: $primary-color;
    @include textColor(dark);
    font-family:$font-style;
    font-size:1.2em;
    margin: 0 auto;
    overflow-x: hidden;
}
header, footer {
    background-color:$header-color;
    color:$font-color;
    padding: 1%;
    border:#4B164C ridge;
}

#imgHeader {
    text-align: center;
}

h1, h2 {
    padding: 1%;
}

p {
    @extend h1;
    line-height: 1.5em;
    max-width: 70ch;
    margin-left: 4%;
}

@media (prefers-color-scheme: dark) {
    body {
      background-color: $primary-color-dm;
      @include textColor(light);
    }
    header, footer {
        background-color: black;
        color: $detail-color;
    }
}
