/*länkar, knappar, återanvändbara delar*/

@use "sass:color";



a:link, a:visited {
    text-decoration: none;
}
.headerImg {
    width: 100%;
}
@mixin imgStyling {
    border-radius: 2%;
    border-style: groove;
    margin-left: 1.5%;
    width: 47%;
}

#img1, #img2 {
    @include imgStyling;
}

.footerContent {
    text-align: center;
}

#sassHeader {
    margin-left: 4%;
}